/*  Celulares ( 659px)*/
@media (max-width: 659px) {

    /* Menú en columna */
    #nav-menu ul {
        flex-direction: column;
        text-align: end;
        gap: 0.5rem;
    }

    /* Proyectos en 1 columna */
    .mascotas-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /* Galería en 2 columnas */
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria img {
        height: 150px;
        max-width: 100%;
    }
}

/*  TABLETS (660px — 1024px) */
@media (min-width: 660px) and (max-width: 1024px) {

    /* Proyectos en 2 columnas */
    .proyectos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    /* Galería en 3 columnas */
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    .galeria img {
        height: 180px;
        max-width: 100%;
    }
}

/*ESCRITORIO (≥ 1025px) */
@media (min-width: 1025px) {

    /* Proyectos en 3 columnas */
    .proyectos-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    /* Galería flexible de 3+ columnas */
    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    

    .galeria img {
        height: 150px;
        max-width: 100%;

    }
}