/* ESCRITORIO: Menú normal */
#nav-menu {
        display: flex;
    gap: 1rem;
}

#nav-menu ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Ocultar botón hamburguesa en PC */
#menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* CELULAR*/
@media (max-width: 740px) {

    /* Mostrar botón hamburguesa */
    #menu-toggle {
        display: block;
        color: var(--background-color);
    }

    /* Ocultar menú por defecto */
    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
    }

    /* también debe ser columna */
    #nav-menu ul {
        flex-direction: column;
        width: 100%;
        text-align: end;
        gap: 0.5rem;
    }
}