header {  
    padding: 1.25rem 3.125rem;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px 50px;
    transition: background-color 0.3s ease; 
    display: grid; 
    grid-template-areas:
        "logo"
        "titulo"
        "nav";
    justify-items: center; 
    gap: 10px;
}




#div{
    display: flex;
    align-items: center;
    gap: 1rem;
    

}
#div h1 {
    font-size: 1rem;
    color: var(--background-color);
    
}
.logo {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    ;
    


}
#logoimg {
    position: absolute;
    width: 50px;
    top: -30px;
}


/* Header con Flexbox */




nav ul {
    list-style: none;
    display: flex;             /* Menú  con Flexbox */
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover { 
    color: var(--background-color);
                    
}



