*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent-color: #ff1900;
    --background-color: #2cda00;
    --card-bg: #1a1a1a;
    --transition-speed: 0.3s;
    --menu-padding: 1rem;
    --menu-gap: 1rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    color: var(--background-color);

}









